/* FUNETES */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

/* ESTILOS DEL BANNER */
h1 {
    font-family: 'PT Serif';
    font-weight: 700;
}

h2 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 22px;
}

.whoWeAre {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
}

/* CSS GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4.5rem;
}

.texto-vertical {
    writing-mode: vertical-lr;
    margin-left: 0.5rem;
    text-transform: uppercase;
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 14px;
}

h3 {
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: -1rem;
}

.elemento2, .elemento5 {
    margin-top: 5rem;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .elemento5 {
        margin-top: 0px;
    }

    .elemento4, .elemento6 {
        margin-top: 5rem;
    }

    /* TEXTO RESPONSIVE */
    .whoWeAre {
        font-size: 15px;
    }

    h3 {
        font-size: 15px;
        margin-bottom: -4rem;
    }

    .texto-vertical {
        font-size: 12px;
    }

    .grid {
        gap: 3.5rem;
    }
}